ACCESS_KEY_ID=ACCESS_KEY_ID_PLACEHOLDER
SECRET_ACCESS_KEY=SECRET_ACCESS_KEY_PLACEHOLDER 
SECURITY_GROUPS_IDS=SECURITY_GROUPS_IDS_PLACEHOLDER
REGION=REGION_PLACEHOLDER
SUBNET_ID=SUBNET_ID_PLACEHOLDER #optional
